.App {
  width: 1000px;
  margin: 0 auto;
  background-color: #d1ffd1;
}

h2 {
  text-align: center;
}

#new-user-form {
  margin-bottom: 24px;
}

.table-header {
  display: inline-block;
  width: 150px;
  margin-right: 8px;
  font-weight: bold;
}

.user-input {
  display: inline-block;
  width: 150px;
  margin-right: 8px;
}

.red {
  color: red;
}